<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/styles.css">
  <nav class="navbar navbar-dark bg-dark nav-expand-lg">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
      <ul class="nav navbar-nav ">

        <li id="home" class="nav-item"><a href="#">HOME</a></li>
        <li id="about" class="nav-item"><a href="#">ABOUT US</a></li>
        <li id="contact" class="nav-item"><a href="#">CONTACT US</a></li>
      </ul>
    </div>
  </nav>

<body>
  <div class="container">
    <h1>hello this is container heading</h1>
    <p>hello this is container paragraph</p>
  </div>
  <div class="footer-padding"></div>
  <div class="footer">
    <p>Code With CC</p>
  </div>
  </div>
</body>

</html>
